# firstSection {
    background-color: #c94646;
    padding: 50px 0;
}
# secondSection {
    background-color: #d0aeae;
    padding: 50px 0;
}
# thirdSection {
    background-color: #c94646;
    padding: 50px 0;
}